<!DOCTYPE html>
<html>

<head>
	<title>Bibel Web Applikation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link
		href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
		rel="icon" type="image/x-icon" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="topnav.css">
	<link rel="stylesheet" href="main.css">
</head>

<body>
	<div class="topnav" id="topnav">
		<a href="/home" class="active">Home</a>
		<a href="/read">Lesen</a>
		<a href="/search">Suchen</a>
		<a href="/count">Zählen</a>
		<!-- <div class="dropdown">
			<button class="dropbtn">Dropdown
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
		</div> -->
		<a href="/about">Über</a>
		<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="handleTopNav()">&#9776;</a>
	</div>
	<script type="text/javascript" charset="utf-8" src="topnav.js"></script>
	<div class="headline">
		<h2>Die Bibel</h2>
		<h5>Nach der Übersetzung von Martin Luther 1912</h5>
	</div>
	<div class="content">
		Herzlich Willkommen auf der Seite zur Bibel nach der Übersetzung von Martin Luther 1912.
		Diese Seite bietet die Möglichkeit zum Lesen eines Kapitels oder zum Suchen eines Begriffs im Text der Bibel.
		Außerdem besteht die Möglichkeit, Wörter in einem vom Benutzer bestimmten Bibelabschnitt zu zählen.
	</div>
</body>

</html>